* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.experience {
  width: 100%;
  height: 83vh;
  background: #222222;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 85%;
  height: 100%;
}