* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; // Change to any preferred font
}

.navbar {
  width: 100%;
  height: 10vh;
  background-color: #222222;
  color: white;
}

.container {
  width: 85%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  font-size: 26px;
  font-weight: 700;
  cursor: pointer;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 75px;
}

.right p {
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  font-size: 18px;
}

.active {
  color: white;
}

.inactive {
  color: #919191;
}
